h1 {
  font-size: 3vh;
  color: rgba(128, 128, 128, 0.51);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.54);
  text-transform: uppercase;
}

.menu-close-button {
  font-size: 6vh;
  float: right;
  cursor: pointer;
}

.menu-close-button:hover {
  color: #d1d1d1;
}

.mode-specific-settings-panel {
  display: block;
}

.ok-button {
  flex-grow: 1;
  margin: 0;
  font-size: 4vh;
  padding: 1vh;
  color: #505050;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #505050;
}

.ok-button:hover {
  color: #d7d8e4;
  border-color: #dadada;
  border-bottom-color: black;
  border-right-color: black;
  border-left-color: #ababab;
  cursor: pointer;
  background-image: linear-gradient(to top, #201e21 40%, #383838 100%);
}

.ok-button {
  position: fixed;
  border-radius: 4vh;
  min-width: 8em;
  bottom: 5vh;
  right: 5vh;
}

.input-row {
  display: flex;
}

.digits-input,
.digits-input input {
  font-size: 5vh;
}

input {
  color: #ef2713;
  text-shadow: 0 0 5px #ff887e;
  background-color: rgba(0,0,0,0.1);
  padding: 1vh;
  border: none;
  font-family: '7segment', monospace;
}

input.blue {
  color: #6ba1ff;
  text-shadow: 0 0 5px #a49cff;
}

md-slider {
  flex-grow: 1;
  margin-top: 1vh;
  margin-left: 5vw;
  width: 50vw;
}

md-slider:focus {
  background-image: linear-gradient(to top, rgba(109, 104, 113, 0.48) 40%, rgba(56, 56, 56, 0.37) 100%);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
