<div id="menu" [ngClass]="{'active': menuVisible}">
  <span class="fa fa-times menu-close-button" (click)="closeClicked.emit()"></span>

  <h1>Mode</h1>
  <app-mode-selector (modeSelectionChanged)="selectMode($event)"></app-mode-selector>

  <div class="mode-specific-settings-panel" *ngIf="selectedMode.label !== 'Clock'">
    <h1>Start Countdown (Seconds)</h1>
    <app-digits-input [value]="selectedMode.label !== 'Stopwatch' ? '10' : '0'" [blue]="true"></app-digits-input>
  </div>

  <div class="mode-specific-settings-panel" *ngIf="selectedMode.label === 'Count Up'">
    <h1>Goal</h1>
    <app-digits-input [value]="'12:00'"></app-digits-input>
  </div>

  <div class="mode-specific-settings-panel" *ngIf="selectedMode.label === 'Count Down'">
    <h1>Start</h1>
    <app-digits-input [value]="'12:00'"></app-digits-input>
  </div>

  <div class="mode-specific-settings-panel" *ngIf="selectedMode.label === 'Tabata'">
    <h1>Work</h1>
    <app-digits-input [value]="'00:20'"></app-digits-input>
    <h1>Break</h1>
    <app-digits-input [value]="'00:10'"></app-digits-input>
    <h1>Number of Rounds</h1>
    <app-digits-input [value]="'8'"></app-digits-input>
  </div>

  <div class="mode-specific-settings-panel" *ngIf="selectedMode.label === 'Rounds'">
    <h1>Round</h1>
    <app-digits-input [value]="'00:30'"></app-digits-input>
    <h1>Number of Rounds</h1>
    <app-digits-input [value]="'8'"></app-digits-input>
  </div>

  <button class="ok-button" (click)="okClicked()">OK</button>

</div>
