.menu-close-button {
  font-size: 6vh;
  float: right;
  cursor: pointer;
}

.menu-close-button:hover {
  color: #d1d1d1;
}

.mode-specific-settings-panel {
  display: block;
}

.ok-button {
  flex-grow: 1;
  margin: 0;
  font-size: 4vh;
  padding: 1vh;
  color: #505050;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #505050;
}

.ok-button:hover {
  color: #d7d8e4;
  border-color: #dadada;
  border-bottom-color: black;
  border-right-color: black;
  border-left-color: #ababab;
  cursor: pointer;
  background-image: linear-gradient(to top, #201e21 40%, #383838 100%);
}

.ok-button {
  position: fixed;
  border-radius: 4vh;
  min-width: 8em;
  bottom: 5vh;
  right: 5vh;
}
