<app-menu [menuVisible]="menuVisible"
          [selectedMode]="selectedMode"
          (closeClicked)="menuVisible=false;"
          (modeSelectionChanged)="setMode($event);"></app-menu>

<div id="container" class="container">

  <div class="flex-container-off">
    <div class="clock-off">
      <div class="led led-mode led-off">88</div>
      <div class="led led-time led-off">88:88</div>
    </div>
  </div>

  <div class="flex-container">
    <div class="clock">
      <div class="led led-mode" [ngClass]="{'led-off':!display.active}">{{display.mode}}</div>
      <div class="led led-time" [ngClass]="{'led-off':!display.active}">{{display.time1}}<span class="colon" [ngClass]="{'led-off':!display.colonVisible || !display.active}">:</span>{{display.time2}}</div>
    </div>
  </div>

  <div class="controls">
    <button (click)="toggleFullScreen();"><span class="fa" [ngClass]="{'fa-expand': !fullScreenActive, 'fa-compress': fullScreenActive}"></span></button>
    <button (click)="toggleRunning()" *ngIf="!fullScreenActive && display.supportsStartStop">
      <span class="fa" [ngClass]="{
                                    'fa-play': display.pristine,
                                    'fa-pause': (display.running || display.countingDown),
                                    'fa-undo': !display.pristine && !(display.running || display.countingDown)
                                  }"></span>
    </button>
    <button (click)="toggleMenu()" *ngIf="!fullScreenActive">MODE</button>
  </div>

</div>
