.repetition,
.repetition input {
  font-size: 5vh;
}

input {
  color: #ef2713;
  text-shadow: 0 0 5px #ff887e;
  background-color: rgba(0,0,0,0.1);
  padding: 1vh;
  border: 1px none white;
  border-bottom-style: solid;
  font-family: '7segment', monospace;
}
