
@font-face {
  font-family: "7segment";
  src: url("./assets/DSEG7Classic-Italic.ttf");
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif
}

html, body {
  height: 100%;
}

.flex-container,
.flex-container-off {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container-off {
  position: absolute;
}

.flex-container {
  position: absolute;
  z-index: 1;
  left: 0;
}

.clock {
}

.led {
  display: inline-flex;
  font-size: 17vw;
  font-family: '7segment', monospace;
}

.led-mode {
  color: #6ba1ff;
  text-shadow: 0 0 2vw #a49cff;
  margin-right: 3vw;
}

.led-time {
  color: #ef2713;
  text-shadow: 0 0 2vw #ff887e;
}

.clock-off {
}

.led-off {
  color: #222222;
  text-shadow: 0 0 2vw rgba(5, 3, 2, 0.66);
}

.controls {
  box-sizing: border-box;
  background-image: linear-gradient(to left, #121212, black);
  padding: 10px;
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
  bottom: 0;
  text-align: center;
  align-items: center;
}

.controls button {
  float: right;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #505050;
  border-radius: 4vh;
  font-size: 4vh;
  color: #505050;
  padding: 1vh 4vh;
  margin-right: 2vh;
  min-width: 10vw;
}

.controls button:hover {
  color: #d7d8e4;
  border-color: white;
  cursor: pointer;
  background-image: linear-gradient(to top, #201e21 40%, #383838 100%);
}

.controls button:disabled {
  color: #101010;
  border-color: #1d1d1d;
  cursor: inherit;
  background: #232323 none;
}

.controls button:focus,
input:focus,
button:focus {
  outline: none;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #121212;
  display: flex;
  color: white;
}

#menu {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  height: 100vh;
  bottom: -100vh;
  width: 100%;
  transform: translate(0px, 0px);
  transition: 0.25s ease;
  background-image: linear-gradient(to top, #201e21 40%, #383838 100%);
  z-index: 3;
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 2vh;
  padding: 5vh;
}

#menu.active {
  transform: translate(0, -100vh);
}

@import '~@angular/material/core/theming/prebuilt/pink-bluegrey.css';
